@font-face {
    font-family: open-sans-r;
    src: url(../fonts/OpenSans-Regular.woff);
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: open-sans-b;
    src: url(../fonts/OpenSans-Bold.woff);
    font-weight: 400;
    font-style: bold;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: open-sans-r, sans-serif;
    font-size: 16px;
    line-height: 1.2;
    margin: 0;
}
/*----------------Header-------------- */
.header-wrapper {
    max-width: 1200px;
    margin: auto;
}

.header {
    background-image: url("../images/banner-bg.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-color: yellow;
    position: relative;
    z-index: 0;
    padding: 30px 0;
    margin-bottom: 60px;
}

.header::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #000000;
    opacity: 0.6;
    z-index: -1;
}

.menu, .logo-link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 10px;
    max-width: 1200px;
}

.header-menu {
    margin:0;
    box-sizing: border-box;
}

.menu-list {
    display: flex;
    list-style: none;
    align-items: center;
}

.menu-list-item:not(:first-child) {
    margin-left: 20px;
}

.menu a {
    text-decoration: none;
    color: #ffffff;
    font-size: 13px;
    text-transform: uppercase;
}

.welcome-title {
    font-family: open-sans-b, sans-serif;
    font-size: 45px;
    line-height: 1.6;
    text-transform: uppercase;
    color: #ffffff;
    text-align: center;
    max-width: 700px;
    margin: auto;
    padding: 128px 0;
}
/* ---------------------------Main----------------*/
.news-tag-link {
    text-decoration: none;
    color: #b59f5b;
    text-transform: uppercase;
    font-size: 14px;
    font-family: open-sans-b, sans-serif;
}

.news-tag-item {
    list-style-type: none;
    padding-right: 20px;
}
.news-link {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
    color: #0f0d0e;
    font-family: open-sans-b, sans-serif;
}

.date {
    text-transform: none;
    color: #888888;
    font-size: 12px;
    margin-bottom: 4px;
}

.author {
    color:#000000;
    font-family: open-sans-b, sans-serif;
    font-size: 12px;
    padding-left: 14px;
}

.about {
    color: #0f0d0e;
    font-size: 15px;
    padding-top: 52px;
}

.page-wrapper {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    max-width: 1180px;
}

.main {
    display: flex;
    flex-direction: column;
    margin-left: 17px;
    width: 770px;
}

.news {
    display: flex;
}

.news:nth-child(n+2) {
    margin-top: 61px;
}

.news-tag {
    display: flex;
    font-size: 20px;
}

.news-text {
    margin-left: 30px;
}

.news-name {
    padding-top: 14px;
    padding-bottom: 36px;
}
/*-----------------------Aside-----------------------*/
.aside {
    display: flex;
    width: 272px;
}

.new-top-aside-link {
    text-decoration: none;
    color: #0f0d0e;
    font-family: open-sans-b, sans-serif;
    font-size: 14px;
    text-transform: uppercase;
}

.new-top-link {
    text-decoration: none;
    font-family: open-sans-b, sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    color: #000000;
}

.new {
    display: flex;
}

.new-top-aside {
    display: flex;
    flex-direction: column;
    margin-left: 121px;
    width: 273px;
}

.new-top {
    font-family: open-sans-b, sans-serif;
    font-size: 14px;
    /*padding-bottom: 46px;*/
    text-align: center;
    text-transform: uppercase;
}

.new-top-meta-disc {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.new:nth-child(n+2) {
    margin-top: 22px;
}

.aside-item {
    width: 290px;
}
/*-----------------------Form---------------------*/
.section-search{
    display: flex;
    flex-direction: column;
}
.search {
    display: flex;
    margin-top: 60px;
    width: 100%;
}

.hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    clip: rect(1px, 1px, 1px, 1px);
}

.search-button {
    border: none;
    width: 47px;
    background-image: url(../svg/search.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-color: #b59f5b;
    background-size: 19px;
}

.search-field {
    box-sizing: border-box;
    padding-left: 18px;
    width: 222px;
    height: 47px;
    font-size: 13px;
    border: none;
    background-color: #f4f7f6;
    font-family: open-sans-r, sans-serif;
}

.mailing {
    font-family: open-sans-b, sans-serif;
    text-align: center;
    margin-top: 62px;
    text-transform: uppercase;
}

.e-mail {
    margin-top: 37px;
    height: 47px;
    width: 100%;
    margin-bottom: 62px;
}

.e-mail-button {

    box-sizing: border-box;
    width: 273px;
    height: 48px;
    background-color: #b59f5b;
    font-size: 14px;
    text-transform: uppercase;
    color: #fcfcf9;
    border: none;
    margin-top: 17px;
    font-family: open-sans-b, sans-serif;
}

.e-mail-field {
    box-sizing: border-box;
    width: 273px;
    height: 48px;
    padding-left: 18px;
    padding-top: 18px;
    padding-bottom: 18px;
    font-family: open-sans-r, sans-serif;
    font-size: 13px;
    background-color: #f4f7f6;
    border: none;
}

.tags {
    text-align: center;
    margin-top: 60px;
    font-size: 14px;
    text-transform: uppercase;
    font-family: open-sans-b, sans-serif;
}

.tags-list {
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
    list-style: none;
}

.tag-list-item {
    border: 3px solid #ededed;
    font-size: 12px;
    text-transform: uppercase;
    font-family: open-sans-b, sans-serif;
    padding-left: 13px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 13px;
    margin-top: 6px;
    margin-right: 5px;
}

.tag-list-link {
    text-decoration: none;
    color: #0f0d0e;
}

.theme-top {
    text-align: center;
    font-family: open-sans-b, sans-serif;
    text-transform: uppercase;
    font-size: 14px;
    margin-top: 60px;
}

.theme {
    display: flex;
    flex-direction: column;
    list-style-type: none;
}

.theme-link {
    text-decoration: none;
    color: #000000;
    font-family: open-sans-b, sans-serif;
    text-transform: uppercase;
    font-size: 14px;
    margin-bottom: 35px;
}

.theme-span {
    font-family: open-sans-b, sans-serif;
    color: #b59f5b;
    text-transform: uppercase;
    font-size: 14px;
}

.theme-item {
    margin-bottom: 35px;
}

/*-------------------------products-------*/
.products-wrapper {
    display: flex;
    flex-direction: row;
    width: 1170px;
    margin-left: auto;
    margin-right: auto;

}
.product {
    width: 345px;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
}

.product:nth-child(1) {
    margin-right: 112px;
    margin-left: 25px;
}
.product:nth-child(2) {
    margin-right: 112px;
}
.product:nth-child(3) {
    margin-right: 25px;
}

.products-text{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
    width: 340px;
    top: -54px;
    margin-left: -25px;
    padding-left: 21px;
    padding-right: 21px;
    padding-top: 56px;
    padding-bottom: 70px;
    border: 3px solid #d5c9a3;;
}

.product-paragraph {
    font-family: open-sans-r, sans-serif;
    font-size: 15px;
    margin-bottom: 15px;
}
.header-products {
    margin-top: 64px;
    margin-bottom: 46px;
    text-align: center;
}
.product-header {
    margin-bottom: 9px;
    font-family: open-sans-b, sans-serif;
    font-size: 20px;
    text-transform: uppercase;
}
.price-line {
    margin-top: -25px;
    margin-bottom: 5px;
 }
.old-price{
    font-family: open-sans-b, sans-serif;
    font-size: 14px;
}
.new-price {
    font-family: open-sans-b, sans-serif;
    font-size: 20px;
}

.price-btn {
    display: flex;
    justify-content: space-between;
    margin-top: 26px;
}
.button-buy {
    width: 140px;
    height: 50px;
    background-color: #b59f5b;
    border: none;
    font-family: open-sans-b, sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    color: #ffffff;
}

.products-links {
    color: #b59f5b;
    text-decoration: none;
}
/*-----------------Footer----------------*/

.footer{
    margin-top: 60px;
}

.footer-address {
    margin-bottom: 20px;
    background-color: #f4f7f6;
    padding: 30px 0;
}

.footer-list {
    display: flex;
    list-style: none;
    justify-content: center;
}

.footer-wrapper {
    max-width: 1200px;
    margin: auto;
    padding: 0 15px;
}

.social-icon {
    display: block;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-size: 16px;
    background-position: center;
    padding: 30px 15px;
}

.social-icon_twitter {
    background-image: url(../svg/004-twitter.svg);
}

.social-icon_pinterest {
    background-image: url(../svg/001-pinterest.svg);
}

.social-icon_facebook {
    background-image: url(../svg/004-twitter.svg);
}

.social-icon_instagram {
    background-image: url(../svg/001-pinterest.svg);
}

.social-icon_tumblr {
    background-image: url(../svg/003-tumblr.svg);
}

.copyright {
    text-align: center;
    text-decoration: none;
    font-family: open-sans-b, sans-serif;
    font-size: 12px;
    color: #999999;
}
/*-----------------trends---------------------------*/
.border_bottom {
    display: block;
    text-align: center;
    margin-bottom: 15px;
    margin-top: -30px;
    font-size: 40px;
    color: #e1d9bd;
}

.trends_h2 {
    text-align: center;
    margin-top: 64px;
    font-family: open-sans-b, sans-serif;
    font-size: 20px;
    text-transform: uppercase;
}

.trends-container {
    display: flex;
    width: 100%;
    min-height: 320px;
    justify-content: space-around;
    margin-bottom: 64px;
}


.trend {
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
    width: 24.8%;
    max-height: 320px;
    position: relative;
    z-index: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.trend:nth-child(n+2) {
    margin-left: 4px;
}

.trend::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #000000;
    opacity: 0.6;
    z-index: -1;
}

.trend_tags {
    display: flex;
    margin-bottom: 11px;
}

.garden_trend {
    background-image: url("../images/trend1.jpg");
}

.cheese_trend {
    background-image: url("../images/trend2.jpg");
}

.mountain_trend {
    background-image: url("../images/trend3.jpg");
}

.lemon_trend {
    background-image: url("../images/trend4.jpg");
}

.trend_tags_item {
    list-style-type: none;
    margin-right: 20px;
}

.trend_tags_link {
    text-decoration: none;
    color: #857041;
    font-family: open-sans-b, sans-serif;
    font-size: 14px;
    text-transform: uppercase;
}

.trend_border {
    width: 100%;
    padding-top: 41px;
    padding-left: 36px;
    padding-right: 36px;
    padding-bottom: 36px;
    border: 3px solid #8d8056;
    box-sizing: border-box;
    margin-left: 17px;
    margin-bottom: 17px;
    margin-right: 17px;
}

.trend-text {
    font-family: open-sans-b, sans-serif;
    font-size: 20px;
    text-transform: uppercase;
    color: #ffffff;
}

@media (min-width: 641px) and (max-width: 1200px) {
    .footer {
        margin-top: 110px;
    }

    .header-products {
        font-size: 18px;
    }

    .news-name {
        font-size: 17px;
    }

    .trend-text {
        font-size: 17px;
    }

    .trends_h2 {
        font-size: 18px;
    }

    .welcome-title {
        font-size: 40px;
    }

    .trends-container {
        flex-wrap: wrap;
    }
    .trend {
        width: calc(50% - 4px);
    }
    .trend:nth-child(n+2) {
        margin-left: 0;
    }

    .menu-burger {
        float: right;
        position: relative;
        width: 23px;
        height: 21px;
        display: block;
        margin-left: 10px;
        margin-right: 10px;
    }

    .menu-burger span, .menu-burger:after, .menu-burger:before {
        height: 3px;
        width: 100%;
        position: absolute;
        background: #ffffff;
        margin: 0 auto;
    }

    .menu-burger span {
        top: 21px;
    }

    .menu-burger:after, .menu-burger:before {
        content:"";
    }

    .menu-burger:after {
        bottom: 5px;
    }

    .menu-burger:before {
        top: 5px;
    }

    .header {
        background-image: url("../images/banner-bg-tablet.jpg");
        background-color: green;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
    }

    .header-menu {
        display: none;
    }

    .news {
        flex-direction: column;
        flex: 0 1 100%;
        gap: 15px;
        border-bottom: 1px solid #eeeeee;
        padding-bottom: 20px;
    }

    .news:not(:first-child) {
        margin-top: 40px;
    }

    .page-wrapper {
        width: 762px;
    }

    .main {
        flex-grow: 1;
    }

    .new-top-aside {
        margin-left: 20px;
        width: 270px;
    }

    .news-text {
        margin-left: 1px;
    }

    .products-wrapper {
        width: 694px;
        flex-wrap: wrap;
    }

    .product {
        width: 40%;
    }

    .product:nth-child(1) {
        margin-left: 25px;
    }

    .product:nth-child(2) {
        margin-right: 1px;
    }

    .product:nth-child(3) {
        margin-right: 1px;
        margin-top: 55px;
        margin-left: 25px;
    }
    .price-line {

    }
}

@media (max-width: 640px) {

    .menu-burger {
        position: relative;
        width: 23px;
        height: 21px;
        display: block;
        margin-left: 10px;
        margin-right: 10px;
        right: 0;
    }

    .menu-burger span, .menu-burger:after, .menu-burger:before {
        height: 3px;
        width: 100%;
        position: absolute;
        background: #ffffff;
        margin: 0 auto;
    }

    .menu-burger span {
        top: 21px;
    }

    .menu-burger:after, .menu-burger:before {
        content:"";
    }

    .menu-burger:after {
        bottom: 5px;
    }

    .menu-burger:before {
        top: 5px;
    }

    .trend {
        width: 100%;
     }

    .trend:nth-child(n+2) {
        margin-left: 0;
    }

    .trends-container {
        flex-direction: column
    }

    .page-wrapper {
        flex-wrap: wrap;
    }

    .news {
        flex-direction: column;
        flex: 0 1 100%;
        gap: 15px;
        border-bottom: 1px solid #eeeeee;
    }

    .news-text {
        margin-left: 1px;
    }

    .main {
        width: 100%;
        margin-right: 15px;
        margin-left: 15px;
    }

    .main-image {
        width: 100%;
        margin-right: auto;
        margin-left: auto;
    }

    .new-top-aside {
        margin-right: auto;
        margin-left: auto;
        width: 331px;
    }

    .aside-item {
        margin-right: auto;
        margin-left: auto;
        width: 100%;
        margin-top: 70px;
    }

    .aside {
        width: 100%;
    }

    .search-field {
        width: 284px;
    }

    .e-mail-field {
        width: 331px;
    }

    .e-mail-button {
        width: 331px;
    }

    .products-wrapper {
        flex-direction: column;
        width: 331px;
    }

    .product {
        width: 100%;
    }

    .product:nth-child(1) {
        margin-left: 25px;
    }

    .product:nth-child(2) {
        margin-right: 1px;
        margin-left: 25px;
        margin-top: 65px;
    }
    .product:nth-child(3) {
        margin-right: 1px;
        margin-top: 65px;
        margin-left: 25px;
    }

    .header {
        background-image: url("../images/banner-mobile.jpg");
        background-position: center center;
        background-repeat: no-repeat;
    }

    .header-menu {
        display: none;
    }

    .header-logo {
        width: 268px;
        margin-top: 224px;
    }

    .menu {
        justify-content: center;
    }

    .welcome-title {
        font-size: 26px;
    }

    .menu-burger {
        float: right;
    }

    .trend_border1 {
        width: 100%;
    }

    .trends_h2 {
        font-size: 16px;
    }

    .trend-text {
        font-size: 16px;
    }

    .news-name {
        padding-top: 17px;
        padding-bottom: 24px;
        font-size: 16px;
    }

    .about {
        padding-top: 24px;
        font-size: 15px;
        margin-bottom: 26px;
    }

    .new-top {
        font-size: 16px;
    }

    .mailing {
        font-size: 16px;
    }

    .tags {
        font-size: 16px;
    }

    .theme-top {
        font-size: 16px;
    }

    .header-products {
        font-size: 16px;
    }

    .theme-item {
        border-bottom: 1px solid #eeeeee;
        padding-bottom: 13px;
    }

    .footer {
        margin-top: 70px;
    }

    .popup-box {
        width: 332px;
        height: 545px;
    }

    .fieldp {
        width: 278px;
    }

    .fieldh {
        width: 278px;
    }

    .button-form {
        width: 278px;
    }
}
/*------------------POPUP---------------------*/
.popup {
    /*visibility: hidden;*/
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup::after {
    content: "";
    background-color: black;
    opacity: 0.6;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.popup-box {
    box-sizing: border-box;
    width: 391px;
    position: relative;
    z-index: 2;
    background-color: white;
    padding-top: 54px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 54px;
}

.popup-header {
    font-family: open-sans-b, sans-serif;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 50px;
}

.popup-row {
    display: block;
    margin-bottom: 11px;
    margin-top: 35px;
}

.popup-form {
    margin-bottom: 37px;
}

.popup-field {
    width: 100%;
    height: 48px;
    background-color: #f3f7f6;
    border: none;
    padding-left: 18px;
    background-image: url("https://raw.githubusercontent.com/netology-code/mq-diploma/1ad0703d75efaafe9fb70e8a32f7ecf69bfb40f4/sources/svg/form-arrows.svg");
    background-size: 14px;
    background-repeat: no-repeat;
    background-position: right 5px center;
    -webkit-appearance: none;
    -moz-apprarance: none;
    color: #828483;
}

.popup-hint {
    min-height: 130px;
    width: 100%;
    padding-top: 18px;
    font-family: inherit;
    background-image: none;
}

.popup-button {
    margin-top: 25px;
    width: 100%;
    height: 48px;
    border: none;
    background-color: #b69f5b;
    font-size: 20px;
    font-family: open-sans-b, sans-serif;
    color: white;
    text-transform: uppercase;
}

.radio-group-text::before {
    content:"";
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url("../svg/form-empty-circle.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 14px;
    vertical-align: top;
    margin-right: 8px;
}

.radio-group:nth-of-type(n+2) {
    margin-left: 8px;
}

.radio:checked ~ .radio-group-text::before {
    background-image: url("../svg/form-circle.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 14px;
}

.radio {
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    width: 1px;
}


                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                 </div>
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                   </footer>