@font-face {
    font-family: open-sans-r;
    src: url(https://netology-code.github.io/html-2-diploma/sources/fonts/OpenSans-Regular.woff);
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: open-sans-b;
    src: url(https://netology-code.github.io/html-2-diploma/sources/fonts/OpenSans-Bold.woff);
    font-weight: 400;
    font-style: bold;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: open-sans-r, sans-serif;
    font-size: 16px;
    line-height: 1.2;
    margin: 0;
}
/*----------------Header-------------- */
.header-wrapper {
    max-width: 1200px;
    margin: auto;
}

.header {
    padding: 28px 248px 124px;
    background-image: url("https://netology-code.github.io/html-2-diploma/sources/images/banner-bg.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-color: #000000;
    position: relative;
    z-index: 0;
    padding: 30px 0;
    margin-bottom: 60px;
}

.header::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #000000;
    opacity: 0.6;
    z-index: -1;
}

.menu, .logo-link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 60px;
}

.header-menu {
    margin:0;
    box-sizing: border-box;
}

.menu-list {
    display: flex;
    list-style: none;
    align-items: center;
}

.menu-list-item:not(:first-child) {
    margin-left: 20px;
}

.menu a {
    text-decoration: none;
    color: #ffffff;
    font-size: 13px;
    text-transform: uppercase;
}

.welcome-title {
    font-family: open-sans-b, sans-serif;
    font-size: 45px;
    line-height: 1.6;
    text-transform: uppercase;
    color: #ffffff;
    text-align: center;
    max-width: 700px;
    margin: auto;
    padding: 128px 0;
}
/* ---------------------------Main----------------*/
.news-tag-link {
    text-decoration: none;
    color: #b59f5b;
    text-transform: uppercase;
    font-size: 14px;
    font-family: open-sans-b, sans-serif;
}

.news-tag-item {
    list-style-type: none;
    padding-right: 20px;
}
.news-link {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
    color: #0f0d0e;
    font-family: open-sans-b, sans-serif;
}

.date {
    text-transform: none;
    color: #888888;
    font-size: 12px;
    margin-bottom: 4px;
}

.author {
    color:#000000;
    font-family: open-sans-b, sans-serif;
    font-size: 12px;
    padding-left: 14px;
}

.about {
    color: #0f0d0e;
    font-size: 15px;
    padding-top: 52px;
}

.page-wrapper {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
}

.main {
    display: flex;
    flex-direction: column;
    margin-left: 17px;
    flex-grow: 1;
}

.news {
    display: flex;

}

.news:nth-child(n+2) {
    margin-top: 61px;
}

.news-tag {
    display: flex;
    font-size: 20px;
}

.news-text {
    margin-left: 30px;
}

.news-name {
    padding-top: 14px;
    padding-bottom: 36px;
}
/*-----------------------Aside-----------------------*/
.aside {
    display: flex;
    width: 290px;
}

.new-top-aside-link {
    text-decoration: none;
    color: #0f0d0e;
    font-family: open-sans-b, sans-serif;
    font-size: 14px;
    text-transform: uppercase;
}

.new-top-link {
    text-decoration: none;
    font-family: open-sans-b, sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    color: #000000;
}

.new {
    display: flex;
}

.new-top-aside {
    display: flex;
    flex-direction: column;
    margin-left: 121px;
    width: 273px;
}

.new-top {
    font-family: open-sans-b, sans-serif;
    font-size: 14px;
    padding-bottom: 46px;
    text-align: center;
    text-transform: uppercase;
}

.new-top-meta-disc {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.new:nth-child(n+2) {
    margin-top: 22px;
}

.aside-item {
    width: 290px;
}
/*-----------------------Form---------------------*/
.section-search{
    display: flex;
    flex-direction: column;
}
.search {
    display: flex;
    margin-top: 60px;
    width: 100%;
}

.hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    clip: rect(1px, 1px, 1px, 1px);
}

.search-button {
    border: none;
    width: 47px;
    background-image: url(https://netology-code.github.io/html-2-diploma/sources/images/search.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-color: #b59f5b;
    background-size: 19px;
}

.search-field {
    box-sizing: border-box;
    padding-left: 18px;
    width: 222px;
    height: 47px;
    font-size: 13px;
    border: none;
    background-color: #f4f7f6;
    font-family: open-sans-r, sans-serif;
}

.mailing {
    font-family: open-sans-b, sans-serif;
    text-align: center;
    margin-top: 62px;
    text-transform: uppercase;
}

.e-mail {

    margin-top: 37px;
    height: 47px;
    width: 100%;
    margin-bottom: 62px;
}

.e-mail-button {

    box-sizing: border-box;
    width: 273px;
    height: 48px;
    background-color: #b59f5b;
    font-size: 14px;
    text-transform: uppercase;
    color: #fcfcf9;
    border: none;
    margin-top: 17px;
    font-family: open-sans-b, sans-serif;
}

.e-mail-field {
    box-sizing: border-box;
    width: 273px;
    height: 48px;
    padding-left: 18px;
    padding-top: 18px;
    padding-bottom: 18px;
    font-family: open-sans-r, sans-serif;
    font-size: 13px;
    background-color: #f4f7f6;
    border: none;
}

.tags {
    text-align: center;
    margin-top: 60px;
    font-size: 14px;
    text-transform: uppercase;
    font-family: open-sans-b, sans-serif;
}

.tags-list {
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
    list-style: none;
    list-style: none;
}

.tag-list-item {
    border: 3px solid #ededed;
    font-size: 12px;
    text-transform: uppercase;
    font-family: open-sans-b, sans-serif;
    padding-left: 13px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 13px;
    margin-top: 6px;
    margin-right: 5px;
}

.tag-list-link {
    text-decoration: none;
    color: #0f0d0e;
}

.theme-top {
    text-align: center;
    font-family: open-sans-b, sans-serif;
    text-transform: uppercase;
    font-size: 14px;
    margin-top: 60px;
    margin-bottom: 45px;
}

.theme {
    display: flex;
    flex-direction: column;
    list-style-type: none;
}

.theme-link {
    text-decoration: none;
    color: #000000;
    font-family: open-sans-b, sans-serif;
    text-transform: uppercase;
    font-size: 14px;
    margin-bottom: 35px;
}

.theme-span {
    font-family: open-sans-b, sans-serif;
    color: #b59f5b;
    text-transform: uppercase;
    font-size: 14px;
}

.theme-item {
    margin-bottom: 35px;
}
/*-----------------Footer----------------*/

.footer{
    margin-top: 60px;
}

.footer-address {
    margin-bottom: 20px;
    background-color: #f4f7f6;
    padding 30px 0;
}

.footer-list {
    display: flex;
    list-style: none;
    justify-content: center;
}

.footer-wrapper {
    width: 1200px;
    margin: auto;
    padding: 0 15px;
}

.social-icon {
    display: block;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-size: 16px;
    background-position: center;
    padding: 30px 15px;
}

.social-icon_twitter {
    background-image: url(https://netology-code.github.io/html-2-diploma/sources/images/social/004-twitter.svg);
}

.social-icon_pinterest {
    background-image: url(https://netology-code.github.io/html-2-diploma/sources/images/social/001-pinterest.svg);
}

.social-icon_facebook {
    background-image: url(https://netology-code.github.io/html-2-diploma/sources/images/social/002-facebook-logo.svg);
}

.social-icon_instagram {
    background-image: url(https://netology-code.github.io/html-2-diploma/sources/images/social/005-instagram.svg);
}

.social-icon_tumblr {
    background-image: url(https://netology-code.github.io/html-2-diploma/sources/images/social/003-tumblr.svg);
}

.copyright {
    text-align: center;
    text-decoration: none;
    font-family: open-sans-b, sans-serif;
    font-size: 12px;
    color: #999999;
}

.trends_h2 {
    text-align: center;
    margin-top: 64px;
    margin-bottom: 46px;
    font-family: open-sans-b, sans-serif;
    font-size: 20px;
    text-transform: uppercase;
}

.trends-container {

    display: flex;
    width: 100%;
    min-height: 320px;
    justify-content: space-around;
    margin-bottom: 64px;
}


.trend {
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
    width: 24.8%;
    max-height: 320px;
    position: relative;
    z-index: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.trend:nth-child(n+2) {
    margin-left: 4px;
}

.trend::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #000000;
    opacity: 0.6;
    z-index: -1;
}

.trend_tags {
    display: flex;
    margin-bottom: 11px;

}
.garden_trend {
    background-image: url("https://raw.githubusercontent.com/netology-code/mq-diploma/master/sources/img/trend1.jpg");
}

.cheese_trend {
    background-image: url("https://github.com/netology-code/mq-diploma/blob/master/sources/img/trend2.jpg?raw=true");
}

.mountain_trend {
    background-image: url("https://github.com/netology-code/mq-diploma/blob/master/sources/img/trend3.jpg?raw=true");
}

.lemon_trend {
    background-image: url("https://github.com/netology-code/mq-diploma/blob/master/sources/img/trend4.jpg?raw=true");

}

.trend_tags_item {
    list-style-type: none;
    margin-right: 20px;

}
.trend_tags_link {
    text-decoration: none;
    color: #857041;
    font-family: open-sans-b, sans-serif;
    font-size: 14px;
    text-transform: uppercase;
}
.trend_border {
    padding-top: 41px;
    padding-left: 36px;
    padding-right: 36px;
    padding-bottom: 36px;
    border: 3px solid #8d8056;
    box-sizing: border-box;
    margin-left: 17px;
    margin-bottom: 17px;
    margin-right: 17px;


}
.trend-text {
    font-family: open-sans-b, sans-serif;
    font-size: 20px;
    text-transform: uppercase;
    color: #ffffff;

}

@media (max-width: 768px) {
    .trends-container {
        display: flex;

    }
    .trend {
        width: calc(50% - 2px);
        height: 300px;
    }
}